/*Selecciono el body de la pagina para quitar los margenes y aplicar color de fondo*/
body{
    margin: 0;
    background-color: #d8d174;
}
/*selecciono el header le doy la posicion fixed para que me acompañe el navegador durante toda la pagina utilizo el display flex para que los elementos de dentro sean responsivos */
header{
    position: fixed;
    top: 0px;
    display: flex;
    background-color:#91972A;
    width: 100%;
}
/*selecciono el footer y le doy un display flex para que los elementos sean responsivos*/
footer{
    height: 190px;
    width: 100%;
    background-color:#91972A;
    display: flex;
    
    
    
}
.logo{
    flex: 1;
    height: 100px;
}
.imgLogo{
    height: 100%;
}
/* le doy un margen superior de 50 px*/
.imgPrincipal{
    margin-top:50px;
    width: 100%;
    height: 600px;
}
.divPrincipal{
    height:100%;
}
/* pongo los elementos a la derecha quito la decoracion de los enlaces y le doy un margen superior y superior*/
.divNav a{
    float:right;
    margin-right: 50px;
    text-decoration: none;
    color: black;
    margin-top: 15px;
}
.divNav{
    flex: 8;
} 
/* alineo el texto a justificado*/
.divPrincipal p{
    margin-left: 300px;
    margin-right: 300px;
    text-align:justify;
    font-size: 25px;
}
/* alineo el texto al centro*/
h3{
    text-align: center;
    font-size: 60px;
}
.divTop3{
    display: flex;
}
.img1{
    display:flex;
    margin: auto;
    width:300px;
}
.img2{
    display:flex;
    margin: auto;
    width:300px;
}
.img3{
    display:flex;
    margin: auto;
    width:300px;
}
/*le doy un borde solido alineo los elementos al centro le doy flex 1 para ocupar un aparte del flexbox*/
.divImg1{
    flex: 1;
    border: 2px solid;
    width: 300px;
    text-align: justify;
    align-items: center;
    justify-items: center;
    background-color: #b6c454;
}
/*le doy un borde solido y un  flex 1 para ocupar un aparte del flexbox*/
.divImg2{
    background-color: #b6c454;
    flex: 1;
    border: 2px solid;
    width: 300px;
    text-align: justify;
}
/*le doy un borde solido y un  flex 1 para ocupar un aparte del flexbox*/
.divImg3{
    background-color: #b6c454;
    flex: 1;
    border: 2px solid;
    width: 300px;
    text-align: justify;
}
.divTop3 p{
    text-align: center;
}
.divTop3 a{
    text-decoration: none;
    color: black;
}
.divImg1 h4{
    width:25%;
    background-color: #91972A;
    display: flex;
    margin: auto;
}
.divImg2 h4{
    width:25%;
    background-color: #91972A;
    display: flex;
    margin: auto;
}
.divImg3 h4{
    width:25%;
    background-color: #91972A;
    display: flex;
    margin: auto;
}
footer h4{
    font-size: 30px;
    
    
}
footer a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
footer img{
    height: 100px;
    float: right;
}
.divFooter{
    width: 50%px;
}
.divFImg{
    margin-left: 70%;
    margin-top: 2%;    
}
/*le doy un margen suoerior la letra de color negro alineo el texto al centro y le doy un borde solido*/
form{
    margin-top: 200px;
    color:black;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    border: 1px solid;
}
.footer2{
    margin-top: 150px;
}
.lista{
    margin-top: 100px;
    display: flex;

}
.lista p{
    text-align: center;
}
.lista a{
    text-decoration: none;
    color: black;
}
.aguila{
    margin-top: 100px;
}
.aguilaImg{
    
    width: 600px;
}
/*le doy un display flex y  alineo los elemnetos al centro*/
.divaguilaImg{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/*le doy un tamaño de letra mas grande y pongo el texto justificado*/
.aguilap{
    font-size: 30px;
    margin: 10px;
    text-align: justify;
}
